In [ ]:
!pip install openmeteo-requests
!pip install requests-cache retry-requests numpy pandas

Collecting openmeteo-requests
  Downloading openmeteo_requests-1.2.0-py3-none-any.whl (5.5 kB)
Collecting openmeteo-sdk>=1.4.0 (from openmeteo-requests)
  Downloading openmeteo_sdk-1.11.11-py3-none-any.whl (12 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from openmeteo-requests) (2.31.0)
Requirement already satisfied: flatbuffers>=24.0.0 in /usr/local/lib/python3.10/dist-packages (from openmeteo-sdk>=1.4.0->openmeteo-requests) (24.3.25)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->openmeteo-requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->openmeteo-requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->openmeteo-requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->openmeteo-requests) (2024.7.4)
Installing collected packages: openmeteo-sdk, openmeteo-requests
Successfully installed openmeteo-requests-1.2.0 openmeteo-sdk-1.11.11
Collecting requests-cache
  Downloading requests_cache-1.2.1-py3-none-any.whl (61 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.4/61.4 kB 1.7 MB/s eta 0:00:00
Collecting retry-requests
  Downloading retry_requests-2.0.0-py3-none-any.whl (15 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.25.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: attrs>=21.2 in /usr/local/lib/python3.10/dist-packages (from requests-cache) (23.2.0)
Collecting cattrs>=22.2 (from requests-cache)
  Downloading cattrs-23.2.3-py3-none-any.whl (57 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 57.5/57.5 kB 6.5 MB/s eta 0:00:00
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests-cache) (4.2.2)
Requirement already satisfied: requests>=2.22 in /usr/local/lib/python3.10/dist-packages (from requests-cache) (2.31.0)
Collecting url-normalize>=1.4 (from requests-cache)
  Downloading url_normalize-1.4.3-py2.py3-none-any.whl (6.8 kB)
Requirement already satisfied: urllib3>=1.25.5 in /usr/local/lib/python3.10/dist-packages (from requests-cache) (2.0.7)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: exceptiongroup>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from cattrs>=22.2->requests-cache) (1.2.1)
Requirement already satisfied: typing-extensions!=4.6.3,>=4.1.0 in /usr/local/lib/python3.10/dist-packages (from cattrs>=22.2->requests-cache) (4.12.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.22->requests-cache) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.22->requests-cache) (3.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.22->requests-cache) (2024.7.4)
Installing collected packages: url-normalize, cattrs, retry-requests, requests-cache
Successfully installed cattrs-23.2.3 requests-cache-1.2.1 retry-requests-2.0.0 url-normalize-1.4.3

The code below pulls data from open meteo and exports the data to an excel file

In [ ]:
import openmeteo_requests
import requests_cache
import pandas as pd
from retry_requests import retry

cache_session = requests_cache.CachedSession('.cache', expire_after=-1)
retry_session = retry(cache_session, retries=5, backoff_factor=0.2)
openmeteo = openmeteo_requests.Client(session=retry_session)

url = "https://archive-api.open-meteo.com/v1/archive"
params = {
    "latitude": 40.7143,
    "longitude": -74.006,
    "start_date": "2021-01-01",
    "end_date": "2023-12-30",
    "daily": ["temperature_2m_max", "temperature_2m_min", "temperature_2m_mean", "precipitation_sum", "rain_sum", "snowfall_sum"],
    "temperature_unit": "fahrenheit",
    "wind_speed_unit": "mph",
    "precipitation_unit": "inch",
    "timezone": "America/New_York"
}
responses = openmeteo.weather_api(url, params=params)

response = responses[0]
print(f"Coordinates {response.Latitude()}°N {response.Longitude()}°E")
print(f"Elevation {response.Elevation()} m asl")
print(f"Timezone {response.Timezone()} {response.TimezoneAbbreviation()}")
print(f"Timezone difference to GMT+0 {response.UtcOffsetSeconds()} s")

daily = response.Daily()
daily_temperature_2m_max = daily.Variables(0).ValuesAsNumpy()
daily_temperature_2m_min = daily.Variables(1).ValuesAsNumpy()
daily_temperature_2m_mean = daily.Variables(2).ValuesAsNumpy()
daily_precipitation_sum = daily.Variables(3).ValuesAsNumpy()
daily_rain_sum = daily.Variables(4).ValuesAsNumpy()
daily_snowfall_sum = daily.Variables(5).ValuesAsNumpy()

daily_data = {
    "date": pd.date_range(
        start=pd.to_datetime(daily.Time(), unit="s", utc=True),
        end=pd.to_datetime(daily.TimeEnd(), unit="s", utc=True),
        freq=pd.Timedelta(seconds=daily.Interval()),
        inclusive="left"
    )
}
daily_data["temperature_2m_max"] = daily_temperature_2m_max
daily_data["temperature_2m_min"] = daily_temperature_2m_min
daily_data["temperature_2m_mean"] = daily_temperature_2m_mean
daily_data["precipitation_sum"] = daily_precipitation_sum
daily_data["rain_sum"] = daily_rain_sum
daily_data["snowfall_sum"] = daily_snowfall_sum

daily_dataframe = pd.DataFrame(data=daily_data)

daily_dataframe['date'] = daily_dataframe['date'].dt.date
daily_dataframe['month'] = pd.DatetimeIndex(daily_dataframe['date']).month

numeric_columns = daily_dataframe.select_dtypes(include=['float64', 'int64']).columns
daily_dataframe[numeric_columns] = daily_dataframe[numeric_columns].round(-2)

print(daily_dataframe)

Coordinates 40.738136291503906°N -74.04254150390625°E
Elevation 51.0 m asl
Timezone b'America/New_York' b'EDT'
Timezone difference to GMT+0 -14400 s
            date  temperature_2m_max  temperature_2m_min  temperature_2m_mean  \
0     2021-01-01           38.340500           27.270500            33.401752
1     2021-01-02           49.680500           34.380501            41.438000
2     2021-01-03           38.340500           29.700500            34.545498
3     2021-01-04           43.740501           33.030499            36.855503
4     2021-01-05           40.770500           33.480499            36.308002
...          ...                 ...                 ...                  ...
1089  2023-12-26           45.450500           36.990501            40.301746
1090  2023-12-27           47.880501           41.130501            43.980499
1091  2023-12-28           52.650501           46.980499            49.459248
1092  2023-12-29           55.710499           44.640499            48.780499
1093  2023-12-30           45.990501           33.930500            41.231747

      precipitation_sum  rain_sum  snowfall_sum  month
0              0.318898  0.318898      0.000000      1
1              0.161417  0.161417      0.000000      1
2              0.255906  0.251969      0.027559      1
3              0.059055  0.051181      0.055118      1
4              0.000000  0.000000      0.000000      1
...                 ...       ...           ...    ...
1089           0.000000  0.000000      0.000000     12
1090           0.204724  0.204724      0.000000     12
1091           1.578740  1.578740      0.000000     12
1092           0.015748  0.015748      0.000000     12
1093           0.003937  0.003937      0.000000     12

[1094 rows x 8 columns]

In [ ]:
daily_dataframe.head(500)

,date,temperature_2m_max,temperature_2m_min,temperature_2m_mean,precipitation_sum,rain_sum,snowfall_sum,month
0,2021-01-01,38.340500,27.270500,33.401752,0.318898,0.318898,0.000000,1
1,2021-01-02,49.680500,34.380501,41.438000,0.161417,0.161417,0.000000,1
2,2021-01-03,38.340500,29.700500,34.545498,0.255906,0.251969,0.027559,1
3,2021-01-04,43.740501,33.030499,36.855503,0.059055,0.051181,0.055118,1
4,2021-01-05,40.770500,33.480499,36.308002,0.000000,0.000000,0.000000,1
...,...,...,...,...,...,...,...,...
495,2022-05-11,69.930496,47.520500,58.076756,0.000000,0.000000,0.000000,5
496,2022-05-12,69.570496,51.120499,59.479248,0.000000,0.000000,0.000000,5
497,2022-05-13,70.290497,56.700500,61.260509,0.070866,0.070866,0.000000,5
498,2022-05-14,69.030495,57.060501,61.598007,0.275591,0.275591,0.000000,5
499,2022-05-15,76.320496,57.690498,64.117996,0.039370,0.039370,0.000000,5

In [ ]:
daily_data["temperature_2m_max"] = daily_temperature_2m_max.astype(float)
daily_data["temperature_2m_min"] = daily_temperature_2m_min.astype(float)
daily_data["temperature_2m_mean"] = daily_temperature_2m_mean.astype(float)
daily_data["precipitation_sum"] = daily_precipitation_sum.astype(float)
daily_data["rain_sum"] = daily_rain_sum.astype(float)
daily_data["snowfall_sum"] = daily_snowfall_sum.astype(float)
daily_dataframe[numeric_columns] = daily_dataframe[numeric_columns].round(-2)

In [ ]:
daily_dataframe.head(500)

,date,temperature_2m_max,temperature_2m_min,temperature_2m_mean,precipitation_sum,rain_sum,snowfall_sum,month
0,2021-01-01,38.340500,27.270500,33.401752,0.318898,0.318898,0.000000,1
1,2021-01-02,49.680500,34.380501,41.438000,0.161417,0.161417,0.000000,1
2,2021-01-03,38.340500,29.700500,34.545498,0.255906,0.251969,0.027559,1
3,2021-01-04,43.740501,33.030499,36.855503,0.059055,0.051181,0.055118,1
4,2021-01-05,40.770500,33.480499,36.308002,0.000000,0.000000,0.000000,1
...,...,...,...,...,...,...,...,...
495,2022-05-11,69.930496,47.520500,58.076756,0.000000,0.000000,0.000000,5
496,2022-05-12,69.570496,51.120499,59.479248,0.000000,0.000000,0.000000,5
497,2022-05-13,70.290497,56.700500,61.260509,0.070866,0.070866,0.000000,5
498,2022-05-14,69.030495,57.060501,61.598007,0.275591,0.275591,0.000000,5
499,2022-05-15,76.320496,57.690498,64.117996,0.039370,0.039370,0.000000,5

In [ ]:
daily_dataframe.to_excel('weather_data.xlsx', index=False)